<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Pressure Analysis</title>
    <link rel="stylesheet" href="/static/BP_styleSheet.css">
</head>


<body>
    <div id="title">
        <b><h1>Blood Pressure Analysis</h1></b>
    </div><br><br><br><br><br>
    
    <form  action="{{url_for('result')}}" method="POST" onsubmit="BP(); return false;">
        <div>
            <div id="user_info">
                <label id="label"> Name:<b>*</b><input id="Name" autofocus type="text" name="Name" equired></label><br>
                <label id="label">Email:<b>*</b><input id="email" type="email" name="Email"  equired></label>
            </div>
            
            <div id="intro"><br><br>
                <h2>Enter Your result values below</h2>
            </div>

            <div id="input">
                <input autocomplete="off" autofocus id="top" type="number" name="topValue" placeholder="SYSTOLIC mmHG" equired>
                <input autocomplete="off" id="bottom" type="number" name="bottomValue" placeholder="DIASTOLIC mmHG" equired><br>
            </div>

            <div id="result_button">
                <button type="submit" value="Generate Result" id ="Gen_result" >Generate Result</button>
            </div>

            <p id="updatemessage"></p>
            <div id="result"><br><br><br>
                <h2 id="result1"> Your result will Show here</h2>
            </div>
        </div>
    </form>
    <script src="/static/BP_Test.js"></script>
</body>
</html>